<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>animals</title>
  </head>
  <body>
    <h1>Tamgotchi</h1>
    <form action="/animals" method="post">
      <label for="name">Add a new animal</label>
      <input id="name" name="name" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html
